/target

data_*
backup

input
**.jpg
**.txt
*.zip
*.svg
flamegraph.svg
perf.data
perf.data.old

*.tar
*.tar.gz

*.csv
*.md

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
